@model YB_StaffingSupervisor.DataAccess.Entities.Custom.TeamMemberCustom
@{
	ViewData["Title"] = "My Team";
	Layout = "~/Views/Shared/_ProantoV2MasterLayout.cshtml";
}
<div class="col-md-12">
	<div class="card">
		<div class="card-body">


			<div class="tab-content" id="myTabContent">
				<div class="tab-pane fade show active" id="teamattendance" role="tabpanel" aria-labelledby="teamattendance-tab">

					<div class="d-flex justify-content-between align-items-center mt-3">
						<h4 class="font-weight-medium">All Team Members</h4>

						<div>
							<button type="button" class="btn btn-sm mr-1" onclick="return ExportTeamMemberReport()">Export</button>
							<button class="btn btn-sm" title="Filter" data-toggle="collapse" data-target="#filter"><i class="fa fa-filter" aria-hidden="true"></i></button>
						</div>
					</div>
					<form asp-controller="MyTeam" asp-action="TeamMembers" method="get">
						<div class="mt-3 collapse" id="filter" style="">
							<div class="card mb-3">

								<div class="card-header d-flex justify-content-between align-items-center">
									<div class="font-weight-medium">Filters</div>
									<div>@* <i class="fa fa-filter"></i> *@</div>
								</div>
								<div class="card-body">
									<div class="row">

										<div class="col-md-3 col-lg-3 mt-2">
											<div class="form-group">
												<label for="exampleFormControlSelect1"><b>Yoma Id</b></label>
												<input asp-for="SearchUserCode" id="yomaid" type="text" class="form-control form-control-sm border-bottom" placeholder="Yoma Id">

											</div>
										</div>

										<div class="col-md-3 col-lg-3 mt-2">
											<div class="form-group">
												<label for="exampleFormControlInput1" class="active"><b>Associate Name</b></label>
												<input asp-for="SearchFullName" type="text" id="name" class="form-control form-control-sm border-bottom" id="exampleFormControlInput1" placeholder="Enter associate name">
											</div>
										</div>

										<div class="col-md-3 col-lg-3 mt-2">
											<div class="form-group">
												<label for="exampleFormControlInput1" class="active"><b>Mobile No.</b></label>
												<input asp-for="SearchMobileNumber" type="text" id="mobile" class="form-control form-control-sm border-bottom" id="exampleFormControlInput1" placeholder="Enter mobile no.">
											</div>
										</div>

										<div class="col-md-3 col-lg-3 mt-2">
											<div class="form-group">
												<label for="exampleFormControlInput1" class="active"><b>Email id</b></label>
												<input asp-for="SearchEmailId" type="text" id="email" class="form-control form-control-sm border-bottom" id="exampleFormControlInput1" placeholder="Enter email id">
											</div>
										</div>

										<div class="col-md-3 col-lg-3 mt-2">
											<div class="form-group">
												<label for="exampleFormControlSelect1"><b>Designation</b> </label>
												<select asp-for="SearchDesignation" asp-items="@(new SelectList(Model.DesignationModels, "DesignationId", "DesignationName", null))" class="form-control form-control-sm border-bottom">
													<option value="">--Select--</option>
												</select>
											</div>
										</div>

										<div class="col-md-3 col-lg-3 mt-2">
											<div class="form-group">
												<label for="exampleFormControlInput1" class="active"><b>Joining Date</b></label>
												<input type="text" class="form-control form-control-sm border-bottom mdate" id="joining" asp-for="SearchJoiningDate" asp-format="{0:dd/MM/yyyy}" placeholder="DD/MM/YYYY">
											</div>
										</div>
									</div>
								</div>
								<div class="card-footer">
									<div class="d-flex justify-content-end">
										<button type="submit" class="btn btn-sm mr-1">Search</button>
										<a asp-controller="MyTeam" asp-action="TeamMembers" class="btn btn-sm mr-1" title="Reset" tabindex="5">
											<i class="fas fa-sync-alt">
											</i>
										</a>
									</div>
								</div>
							</div>
						</div>
					</form>


					<div class="table-resposive mt-3">
						<table class="table-sm table table-bordered no-wrap">
							<thead id="sumit" class="text-center">
								<tr>
									<th>Yoma Id</th>
									<th>Associate Name</th>
									<th>Email</th>
									<th>Mobile No.</th>
									<th>Designation</th>
									<th>Joined On</th>
								</tr>
							</thead>
							<tbody class="text-center">
								@if (Model != null)
								{
									if (Model.TeamMemberListing != null && Model.TeamMemberListing.Count() > 0)
									{
										foreach (var item in Model.TeamMemberListing)
										{
											<tr>
												<td>@item.UserCode</td>
												<td title="@item.FullName"><div class="mydiv">@item.FullName</div></td>
												<td title="@item.EmailId"><div class="mydiv">@item.EmailId</div></td>
												<td>@item.MobileNumber</td>
												<td>@item.Designation</td>
												<td>@item.JoiningDate</td>
											</tr>
										}
									}
									else
									{
										<tr>
											<td colspan="25" style="text-align:center;">** No Record Found **</td>
										</tr>
									}

								}
								else
								{
									<tr><td colspan="25" style="text-align:center;">** No Record Found **</td></tr>
								}

							</tbody>
						</table>
					</div>

					<div class="bottom_str">
						@if (Model != null && Model.CustomPagination != null)
						{
							if (Model.CustomPagination.TotalItems > 10)
							{
								<div class="one_str medium">
									<select class="form-control form-control-sm" style="width:auto" asp-for="PageSize" onchange="showListForPageSize()">
										<option value="/Supervisor/MyTeam/TeamMembers/?pagesize=100000&SearchUserCode=@ViewBag.SearchUserCode&SearchFullName=@ViewBag.SearchFullName&SearchMobileNumber=@ViewBag.SearchMobileNumber&SearchEmailId=@ViewBag.SearchEmailId&SearchDesignation=@ViewBag.SearchDesignation&SearchJoiningDate=@ViewBag.SearchJoiningDate">ALL</option>
										<option value="/Supervisor/MyTeam/TeamMembers/?pagesize=10&SearchUserCode=@ViewBag.SearchUserCode&SearchFullName=@ViewBag.SearchFullName&SearchMobileNumber=@ViewBag.SearchMobileNumber&SearchEmailId=@ViewBag.SearchEmailId&SearchDesignation=@ViewBag.SearchDesignation&SearchJoiningDate=@ViewBag.SearchJoiningDate">10</option>
										<option value="/Supervisor/MyTeam/TeamMembers/?pagesize=25&SearchUserCode=@ViewBag.SearchUserCode&SearchFullName=@ViewBag.SearchFullName&SearchMobileNumber=@ViewBag.SearchMobileNumber&SearchEmailId=@ViewBag.SearchEmailId&SearchDesignation=@ViewBag.SearchDesignation&SearchJoiningDate=@ViewBag.SearchJoiningDate">25</option>
										<option value="/Supervisor/MyTeam/TeamMembers/?pagesize=50&SearchUserCode=@ViewBag.SearchUserCode&SearchFullName=@ViewBag.SearchFullName&SearchMobileNumber=@ViewBag.SearchMobileNumber&SearchEmailId=@ViewBag.SearchEmailId&SearchDesignation=@ViewBag.SearchDesignation&SearchJoiningDate=@ViewBag.SearchJoiningDate">50</option>
										<option value="/Supervisor/MyTeam/TeamMembers/?pagesize=100&SearchUserCode=@ViewBag.SearchUserCode&SearchFullName=@ViewBag.SearchFullName&SearchMobileNumber=@ViewBag.SearchMobileNumber&SearchEmailId=@ViewBag.SearchEmailId&SearchDesignation=@ViewBag.SearchDesignation&SearchJoiningDate=@ViewBag.SearchJoiningDate">100</option>
									</select>
								</div>
							}

							if (Model.CustomPagination.EndPage > 1 && Model.CustomPagination.TotalItems > 1)
							{
								<div class="two_str">
									<div class="pagination">
										<ul class="bottom-Ui">
											@if (Model.CustomPagination.CurrentPage > 1)
											{
												<li class="medium">
													<a href="~/Supervisor/MyTeam/TeamMembers/?pagesize=@ViewBag.PageSize&SearchUserCode=@ViewBag.SearchUserCode&SearchFullName=@ViewBag.SearchFullName&SearchMobileNumber=@ViewBag.SearchMobileNumber&SearchEmailId=@ViewBag.SearchEmailId&SearchDesignation=@ViewBag.SearchDesignation&SearchJoiningDate=@ViewBag.SearchJoiningDate">First</a>
												</li>
												<li class="medium">
													<a href="~/Supervisor/MyTeam/TeamMembers/?page=@(Model.CustomPagination.CurrentPage - 1)&pagesize=@ViewBag.PageSize&SearchUserCode=@ViewBag.SearchUserCode&SearchFullName=@ViewBag.SearchFullName&SearchMobileNumber=@ViewBag.SearchMobileNumber&SearchEmailId=@ViewBag.SearchEmailId&SearchDesignation=@ViewBag.SearchDesignation&SearchJoiningDate=@ViewBag.SearchJoiningDate">Previous</a>
												</li>
											}
											@for (var Page = Model.CustomPagination.StartPage; Page <= Model.CustomPagination.EndPage; Page++)
											{
												<li class="medium">
													<a class="@(Page == Model.CustomPagination.CurrentPage ? "active" : "")" href="~/Supervisor/MyTeam/TeamMembers/?page=@Page&pagesize=@ViewBag.PageSize&SearchUserCode=@ViewBag.SearchUserCode&SearchFullName=@ViewBag.SearchFullName&SearchMobileNumber=@ViewBag.SearchMobileNumber&SearchEmailId=@ViewBag.SearchEmailId&SearchDesignation=@ViewBag.SearchDesignation&SearchJoiningDate=@ViewBag.SearchJoiningDate">@Page</a>
												</li>
											}
											@if (Model.CustomPagination.CurrentPage < Model.CustomPagination.TotalPages)
											{
												<li class="medium">
													<a href="~/Supervisor/MyTeam/TeamMembers/?page=@(Model.CustomPagination.CurrentPage + 1)&pagesize=@ViewBag.PageSize&SearchUserCode=@ViewBag.SearchUserCode&SearchFullName=@ViewBag.SearchFullName&SearchMobileNumber=@ViewBag.SearchMobileNumber&SearchEmailId=@ViewBag.SearchEmailId&SearchDesignation=@ViewBag.SearchDesignation&SearchJoiningDate=@ViewBag.SearchJoiningDate">Next</a>
												</li>
												<li class="medium">
													<a href="~/Supervisor/MyTeam/TeamMembers/?page=@(Model.CustomPagination.TotalPages)&pagesize=@ViewBag.PageSize&SearchUserCode=@ViewBag.SearchUserCode&SearchFullName=@ViewBag.SearchFullName&SearchMobileNumber=@ViewBag.SearchMobileNumber&SearchEmailId=@ViewBag.SearchEmailId&SearchDesignation=@ViewBag.SearchDesignation&SearchJoiningDate=@ViewBag.SearchJoiningDate">Last</a>
												</li>
											}
										</ul>
									</div>
								</div>
							}
						}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
@section Scripts{
	<script>
		$(document).ready(function () {
			var selectedText = @ViewBag.PageSize;
			if (selectedText == '100000') {
				selectedText = "All";
			}
			$('#PageSize option').map(function () {
				if ($(this).text() == selectedText) return this;
			}).attr('selected', 'selected');

			$('.mdate').bootstrapMaterialDatePicker({
				weekStart: 0,
				time: false,
				format: 'DD/MM/YYYY',
				clearButton: true
			});
		});

		function showListForPageSize() {
			window.location.href = $("#PageSize").val();
		};

	</script>
	
	<script src="~/js/Areas/TeamMember/TeamMember.js" asp-append-version="true"></script>
}
