@model YB_StaffingSupervisor.DataAccess.Entities.Custom.ClaimRequestsCustom
@{
    ViewData["Title"] = "My Team";
    Layout = "~/Views/Shared/_ProantoV2MasterLayout.cshtml";
}
<style type="text/css">
    .green-status {
        color: green;
        display: inline-block;
        width: 100px;
        height: 26px;
        text-align: center;
        line-height: 2.3;
    }

    .pending-status {
        color: orange;
        display: inline-block;
        width: 100px;
        height: 26px;
        text-align: center;
        line-height: 2.3;
        color: #e8aa00;
    }

    .error-status {
        color: red;
        display: inline-block;
        width: 100px;
        height: 26px;
        text-align: center;
        line-height: 2.3;
    }
</style>
<div class="col-md-12">
    <div class="card">
        <div class="card-body">
            <div class="d-flex justify-content-between align-items-center mb-4">
                <h4 class="mb-0"><b>September 2023</b></h4>
                <div>
                    <!-- <button class="btn btn-primary btn-sm" data-target="#claimModal"
                        data-toggle="modal">+
                        Add New
                        Claim</button> -->
                    <button class="btn btn-sm" title="Filter" data-toggle="collapse"
                            data-target="#filter">
                        <i class="fa fa-filter" aria-hidden="true"></i>
                    </button>
                </div>
            </div>

            <div class="collapse" id="filter" style="">
                <form asp-controller="Claim" asp-action="UserClaimrequest" method="get">
                    <div class="card mb-3">

                        <div class="card-header d-flex justify-content-between align-items-center">
                            <div class="font-weight-medium">Filters</div>
                            <div><i class="fa fa-filter"></i></div>
                        </div>
                        <div class="card-body">
                            <div class="row">

                                <div class="col-md-6 col-lg-3 mt-2">
                                    <div class="form-group">
                                        <label for="exampleFormControlSelect1"><b>Claim Type</b> </label>
                                        <select class="form-control form-control-sm border-bottom" asp-for="SearchClaimType" id="claimType">
                                            <option value="">--Select--</option>
                                            <option value="Travel">Travel</option>
                                            <option value="Hotel">Hotel</option>
                                            <option value="Mobile">Mobile</option>
                                            <option value="Courier">Courier</option>
                                        </select>
                                    </div>
                                </div>



                                <div class="col-md-6 col-lg-3 mt-2">
                                    <div class="form-group">
                                        <label for="exampleFormControlSelect1"><b>Claim Status</b></label>
                                        <select class="form-control form-control-sm border-bottom" asp-for="SearchStatus" id="claimStatus">
                                            <option value="">--Select--</option>
                                            <option value="Approved">Approved</option>
                                            <option value="Rejected">Rejected</option>
                                            <option value="Pending">Pending</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-3 mt-2">
                                    <div class="form-group mb-0">
                                        <label for="exampleFormControlSelect1"><b>Year <sup class="red">*</sup></b></label>
                                        <select class="form-control form-control-sm" asp-for="SearchYear" asp-items="@(new SelectList(Model.yearModelsListing, "Value", "Text" , null))" onchange="Validate()">
                                            <option value="">Select</option>
                                        </select>
                                        <span id="SearchYear-Error" asp-validation-for="SearchYear" class="text-danger SearchYear-Error"></span>
                                    </div>
                                </div>

                                <div class="col-md-6 col-lg-3 mt-2">
                                    <div class="form-group mb-0">
                                        <label for="exampleFormControlSelect1"><b>Month <sup class="red">*</sup></b></label>
                                        <select class="form-control form-control-sm" asp-for="SearchMonth" asp-items="@(new SelectList(Model.monthModelsListing, "Value", "Text" , null))" onchange="Validate()">
                                            <option value="">Select</option>
                                        </select>
                                        <span id="SearchMonth-Error" asp-validation-for="SearchMonth" class="text-danger SearchMonth-Error"></span>
                                    </div>
                                </div>

                              

                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="d-flex justify-content-end">
                                <button type="button" class="btn btn-sm mr-1" onclick="return ExportUserClaimrequestReports()">Export</button>
                                <button class="btn btn-sm mr-1">Clear</button>
                                <button type="submit" class="btn btn-sm">Search</button>
                            </div>
                        </div>


                    </div>
                </form>
            </div>


            <div class="table-responsive">
                <table class="table table-bordered table-sm text-center v-middle"
                       style="font-size: 12px;">
                    <thead id="sumit">
                        <tr>
                            <th>S. No.</th>
                            <th>Date</th>
                            <th style="max-width: 85px;">Distance Travelled (KM)</th>

                            <th>Distance Charge</th>
                            <th>View Route Map</th>
                            <th>Claim Type</th>
                            <th>Claim Amount</th>
                            <th>Description</th>
                            <th>View Supporting</th>
                            <th>Comment</th>
                            <th>Claim Status</th>
                            <th>Action</th>

                        </tr>
                    </thead>
                    <tbody class="text-center" class="text-center">
                        @{
                            var countSuggestion = 0;
                        }
                        @if (Model != null)
                        {
                            int i = 0;
                            if (Model.ClaimRequestListing != null && Model.ClaimRequestListing.Count() > 0)
                            {
                                foreach (var item in Model.ClaimRequestListing)
                                {
                                    i++;
                                    <tr>
                                        <td>@i</td>
                                        <td>@item.ClaimInitiateDate</td>
                                        <td>@item.DistanceTravelled</td>
                                        <td>@item.DistanceCharge</td>
                                        <td>
                                            <button data-toggle="offcanvas" data-target="#myOffcanvas"
                                                    class="btn-sm btn">
                                                View Map
                                            </button>
                                        </td>
                                        <td>@item.ClaimType</td>
                                        <td>@item.ClaimAmount</td>

                                        <td>
                                            @if (item.Remark != "")
                                            {
                                                <span style="color:#2a69b2" data-toggle="modal" data-target="#descriptionModal" onclick="viewdescription('@item.Remark')" id="btn_ViewComment_@countSuggestion" class="cursor-pointer">View Description</span>
                                            }
                                        </td>
                                        <td>
                                            @if (item.ClaimSupportingImagePath != "")
                                            {
                                                <span style="color:#2a69b2" data-toggle="modal" data-target="#ClaimSupportingModal" onclick="viewsupporting('@item.ClaimSupportingImagePath');" class="cursor-pointer">View Supporting</span>
                                            }
                                        </td>
                                        <td>
                                        @if (item.ApproveRejectComment != "")
                                        {
                                            <i class="fa fa-comment" data-toggle="modal" data-target="#viewComment" onclick="viewComment('@item.ApproveRejectComment')" id="btn_ViewComment_@countSuggestion"></i>

                                        }
                                        </td>

                                        <td>
                                            @if (item.ApproveRejectStatus == "Rejected")
                                            {
                                                <span class="error-status">Rejected !</span>
                                            }
                                            else if (item.ApproveRejectStatus == "Approved")
                                            {
                                                <span class="green-status">Approved !</span>
                                            }
                                            else
                                            {
                                                <span class="pending-status">Pending !</span>
                                            }
                                            @* @item.ApproveRejectStatus</td> *@
                                        <td>
                                            @* <button class="btn btn-sm" data-toggle="modal" onclick="BindLeaveId('@item.')"
                                                    data-target="#verifyModal">
                                                Approved/Reject
                                            </button> *@
                                            <button class="btn btn-sm mr-1" title="Verify" data-toggle="modal" data-target="#viewVerifyApprove" id="btn_viewVerifyApprove_@countSuggestion" onclick="viewVerifyapprovereject('@item.ClaimRequestId')">Approved/Reject</button>
                                        </td>


                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="25" style="text-align:center;">** No Record Found **</td>
                                </tr>
                            }

                        }
                        else
                        {
                            <tr><td colspan="25" style="text-align:center;">** No Record Found **</td></tr>
                        }

                    </tbody>
                </table>
            </div>



        </div>
    </div>
</div>


@*  comment model *@
<div class="modal fade" id="viewComment" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">View Comment</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="approve-reject">
                    <div class="row">
                        <div class="col-md-12">
                            <textarea id="hdnModelApproveRejectComment" class="form-control" cols="4" rows="5" placeholder="" disabled></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!---verify modal--->

<div class="modal fade" id="viewVerifyApprove" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">On Duty Approval</h5>
                <h5 class="modal-cut" data-dismiss="modal" aria-label="Close" aria-hidden="true">✖</h5>
            </div>
            <div class="modal-body">
                <input type="hidden" id="hdnModeLcLAIMaPPROVEREJECT" />
                <div class="row">
                    <div class="col-12 col-sm-12 col-xs-12 col-md-12 col-lg-12 col-xl-12">
                        <label class="active"><b>Status</b><sup class="red">*</sup></label>
                        <div class="form-group">
                            <select class="form-control form-control-sm remove-select2" id="ApproveRejectStatus" onchange="ValidateApproveRejectStatus1()">
                                <option value="">Select</option>
                                <option value="A">Approve</option>
                                <option value="R">Reject</option>
                            </select>
                            <span id="ApproveRejectStatus-Error" class="text-danger ApproveRejectStatus-Error"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-12 col-xs-12 col-md-12 col-lg-12 col-xl-12">
                        <label class="active"><b>Write Comment</b><sup class="red">*</sup></label>
                        <div class="form-group">
                            <textarea class="form-control" id="ApproveRejectComment" rows="3" onkeyup="ValidateApproveRejectComment()"></textarea>
                            <span id="ApproveRejectComment-Error" class="text-danger ApproveRejectComment-Error"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer py-2">
                <button class="btn1 btn-sm reject-btn" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-sm btn-primary approval-btn" id="btnApproveRejectCliam" onclick="ApproveRejectClaim()">Save</button>
            </div>
        </div>
    </div>
</div>


@* View Map *@

@* <div class="offcanvas" id="myOffcanvas">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title">View Route Map</h5>
        <button type="button" class="close" data-toggle="offcanvas" data-target="#myOffcanvas" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="offcanvas-body">
        <h6><b>Travel date </b>: 23-03-2023</h6>
        <ul class="timeline">
            <li>
                <h6 class="text-theme">Start My Day</h6>
                <p class="font-12 text-muted mb-2">10:00 AM | 0.0 KM</p>
                <p>Day Started</p>
            </li>
            <li>
                <h6 class="text-theme">Meeting Title 1</h6>
                <p class="font-12 text-muted mb-2">10:30 AM | 07.2 KM</p>
                <p>Short meeting description</p>
            </li>
            <li>
                <h6 class="text-theme">Meeting Title 2</h6>
                <p class="font-12 text-muted mb-2">11:30 AM | 17.0 KM</p>
                <p>Short meeting description</p>
            </li>
            <li>
                <h6 class="text-theme">Meeting Title 3</h6>
                <p class="font-12 text-muted mb-2">12:30 AM | 20.0 KM</p>
                <p>Short meeting description</p>
            </li>

            <li>
                <h6 class="text-theme">Meeting Title 4</h6>
                <p class="font-12 text-muted mb-2">12:45 AM | 21.0 KM</p>
                <p>Short meeting description</p>
            </li>

            <li>
                <h6 class="text-theme">Meeting Title 5</h6>
                <p class="font-12 text-muted mb-2">01:30 AM | 23.0 KM</p>
                <p>Short meeting description</p>
            </li>

            <li>
                <h6 class="text-theme">Meeting Title 6</h6>
                <p class="font-12 text-muted mb-2">02:00 AM | 26.0 KM</p>
                <p>Short meeting description</p>
            </li>

            <li>
                <h6 class="text-theme">Meeting Title 7</h6>
                <p class="font-12 text-muted mb-2">02:45 AM | 28.0 KM</p>
                <p>Short meeting description</p>
            </li>

            <li>
                <h6 class="text-theme">Meeting Title 8</h6>
                <p class="font-12 text-muted mb-2">03:45 AM | 29.5 KM</p>
                <p>Short meeting description</p>
            </li>

            <li>
                <h6 class="text-theme">Meeting Title 9</h6>
                <p class="font-12 text-muted mb-2">06:30 AM | 40.0 KM</p>
                <p>Short meeting description</p>
            </li>

            <li>
                <h6 class="text-theme">Check Out</h6>
                <p class="font-12 text-muted mb-2">07:30 AM | 42.5 KM</p>
                <p>Day Checked Out!</p>
            </li>
        </ul>

    </div>

    <div class="offcanvas-footer">
        <h6><span class="font-weight-medium">Total Distance Travelled - </span> 42.5 KM</h6>
    </div>

</div> *@

@* view Discription *@

<div class="modal fade" id="descriptionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">View Description</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="approve-reject">
                    <div class="row">
                        <div class="col-md-12">
                            <textarea id="hdndescription" class="form-control"   disabled=""></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ClaimSupportingModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">View Supporting</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="approve-reject">
                    <div class="row">
                        <div class="col-md-12">
                            <img id="hdnsupporting" class="form-control" style="width:auto; height:auto;"    disabled=""></img>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{
<script>
    function BindLeaveId(id) {
        $('#hdnLeaveRequestId').val(id);
    }
    @* verify modal *@

    function approveReject() {
        let statusValue = $('#selectStatus').val();
        if (statusValue === '1') {
            $('.nomandate').hide();
            $('.mandate').show();
        }
        else if (statusValue === '0') {
            $('.nomandate').hide();
            $('.mandate').show();
        }

        else {
            $('.nomandate').hide();
            $('.mandate').hide();
        }
    }
    

    function bindCommentModel(comment) {
        $('#commentArea').val(comment);
    }

        function viewdescription(id) {
        debugger;
         var viewbtnId = id;
        $("#hdndescription").val(viewbtnId);

    }

    function viewComment(id) {
        debugger;
        var viewbtnId = id;
        $("#hdnModelApproveRejectComment").val(viewbtnId);
    }

    function viewsupporting(id) {
        debugger;
        $("#hdnsupporting").attr("src", id);
    }

        function viewVerifyapprovereject(id) {
            debugger;
            var viewbtnId = id;

            $("#hdnModeLcLAIMaPPROVEREJECT").val(viewbtnId);
            // var OnDutyId = $('[name = "ClaimRequestListing[' + viewbtnId + '].ClaimRequestId"]').val();
            // $("#hdnClaimRequestId").val(OnDutyId);
            $('#ApproveRejectStatus').val("");
            $('#ApproveRejectStatus-Error').text("");
            $('#ApproveRejectComment').val("");
            $('#ApproveRejectComment-Error').text("");
        }

        function ValidateApproveRejectStatus1() {
            var isValid = true;
            var ApproveRejectStatus = $('#ApproveRejectStatus').val();

            if (ApproveRejectStatus == "") {
                $("#ApproveRejectStatus-Error").text("*Please select Approve/Reject Status.");
                $("#ApproveRejectStatus-Error").attr("style", "display:Inline;");
                isValid = false;
            }
            else {
                $("#ApproveRejectStatus-Error").text("");
                $("#ApproveRejectStatus-Error").attr("style", "display:Inline;");
            }
            return isValid;
        }

        function ValidateApproveRejectStatus() {
            var isValid = true;
            var ApproveRejectStatus = $('#ApproveRejectStatus').val();

            if (ApproveRejectStatus == "") {
                $("#ApproveRejectStatus-Error").text("*Please select Approve/Reject Status.");
                $("#ApproveRejectStatus-Error").attr("style", "display:Inline;");
                isValid = false;
            }
            else {
                $("#ApproveRejectStatus-Error").text("");
                $("#ApproveRejectStatus-Error").attr("style", "display:Inline;");
            }
            return isValid;
        }
        function ValidateApproveRejectComment() {
            var isValid = true;
            var ApproveRejectComment = $('#ApproveRejectComment').val();
            if (ApproveRejectComment == "") {
                $("#ApproveRejectComment-Error").text("*Please enter comment.");
                $("#ApproveRejectComment-Error").attr("style", "display:Inline;");
                isValid = false;
            }
            else {
                var regX = /^[\W]+$/;
                if ($.isNumeric(ApproveRejectComment) || regX.test(ApproveRejectComment)) {
                    $("#ApproveRejectComment-Error").text("*Please enter valid comment.");
                    $("#ApproveRejectComment-Error").attr("style", "display:Inline;");
                    isValid = false;
                }
                else {
                    $("#ApproveRejectComment-Error").text("");
                    $("#ApproveRejectComment-Error").attr("style", "display:Inline;");
                }
            }
            return isValid;
        }

        function ApproveRejectClaim() {
            var IsFormValid = true;
            if (ValidateApproveRejectStatus() == false) {
                IsFormValid = false;
            }
            if (ValidateApproveRejectComment() == false) {
                IsFormValid = false;
            }
            debugger;
            if (IsFormValid) {
                var OnDutyId = $("#hdnModeLcLAIMaPPROVEREJECT").val();
                var ApproveRejectStatus = $('#ApproveRejectStatus').val();
                var ApproveRejectComment = $('#ApproveRejectComment').val();
                var Token = $('#hdn_TokenValue').val();
                var DTO = {
                    ClaimRequestId: OnDutyId,
                    ApproveRejectStatus: ApproveRejectStatus,
                    ApproveRejectComment: ApproveRejectComment,
                    Token: Token
                };
                $('#btnApproveRejectCliam').attr("disabled", "disabled");
                $.ajax({
                    cache: false,
                    type: "POST",
                    url: "/Supervisor/Claim/ApproveRejectClaimrequest",
                    beforeSend: function (x) {
                        $(".preloader").attr("style", "display:block;");
                    },
                    data: DTO,
                    success: function (data) {
                        $(".preloader").attr("style", "display:none;");
                        $('#btnApproveRejectCliam').removeAttr("disabled", "disabled");
                        if (data.msg == "Approved successfully." || data.msg == "Rejected successfully.") {
                            toastr.success(data.msg, "Success !");
                            location.reload();
                        }
                        else {
                            toastr.error(data.msg, "Error !");
                        }
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        $(".preloader").attr("style", "display:none;");
                        toastr.error("Server error.", "Error !");
                        $('#btnApproveRejectCliam').removeAttr("disabled", "disabled");
                        if (xhr.status == 403) {
                            var url = $.parseJSON(xhr.responseText);
                            window.location.href = url;
                        }
                    }
                });
            }
        }
</script>

    <script src="~/js/Areas/Claim/UserClaimRequest.js" asp-append-version="true"></script>

}