@model YB_StaffingSupervisor.DataAccess.Entities.Custom.AttendanceRequestCustom
@{
    ViewData["Title"] = "Attendance Requests";
    Layout = "~/Views/Shared/_ProantoV2MasterLayout.cshtml";
}

<style type="text/css">
    .green-status {
        color: green;
        display: inline-block;
        width: 100px;
        height: 26px;
        text-align: center;
        line-height: 2.3;
    }

    .pending-status {
        color: orange;
        display: inline-block;
        width: 100px;
        height: 26px;
        text-align: center;
        line-height: 2.3;
        color: #e8aa00;
    }

    .error-status {
        color: red;
        display: inline-block;
        width: 100px;
        height: 26px;
        text-align: center;
        line-height: 2.3;
    }
</style>

<div class="page-breadcrumb">
    <div class="row">
        <div class="col-7 align-self-center">
            <h3 class="page-title text-truncate text-dark font-weight-medium mb-1">Attendance Requests</h3>
            <div class="d-flex align-items-center">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb m-0 p-0">
                        <li class="breadcrumb-item">
                            <a href="#" class="text-muted">
                                My Team
                            </a>
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <h4 class="font-weight-medium mb-0">Attendance Requests</h4>
                        <button class="btn btn-sm" title="Filter" data-toggle="collapse" data-target="#filter">
                            <i class="fa fa-filter" aria-hidden="true"></i>
                        </button>
                    </div>

                    <div class="collapse" id="filter">
                        <div class="card card-body mb-3">
                            <form asp-controller="Attendance" asp-action="AttendanceRequests" method="get">
                                <div class="row mt-3">

                                    <div class="col-12 col-xs-12 col-sm-12 col-md-4 col-xl-4 col-lg-4">
                                        <label for="exampleFormControlSelect1"><b>Yoma ID</b></label>
                                        <div class="form-group">
                                            <input asp-for="SearchUserCode" placeholder="Search Yoma ID" class="form-control form-control-sm" autocomplete="off" />
                                        </div>
                                    </div>

                                    <div class="col-12 col-xs-12 col-sm-12 col-md-4 col-xl-4 col-lg-4">
                                        <label for="exampleFormControlSelect1"><b>Attendance From</b></label>
                                        <div class="form-group">
                                            <input type="text" class="form-control form-control-sm border-bottom startdate" value="@ViewBag.SearchAttendanceFrom" asp-for="SearchAttendanceFrom" asp-format="{0:dd/MM/yyyy}" placeholder="DD/MM/YYYY" />
                                        </div>
                                    </div>

                                    <div class="col-12 col-xs-12 col-sm-12 col-md-4 col-xl-4 col-lg-4">
                                        <label for="exampleFormControlSelect1"><b>Attendance To</b></label>
                                        <div class="form-group">
                                            <input type="text" class="form-control form-control-sm border-bottom todate" value="@ViewBag.SearchAttendanceTo" asp-for="SearchAttendanceTo" asp-format="{0:dd/MM/yyyy}" placeholder="DD/MM/YYYY" />
                                        </div>
                                    </div>

                                    <div class="col-12 col-xs-12 col-sm-12 col-md-4 col-xl-4 col-lg-4">
                                        <label for="exampleFormControlSelect1"><b>Approval Status</b></label>
                                        <div class="form-group">
                                            <select asp-for="SearchStatusType" class="form-control form-control-sm border-bottom remove-select2">
                                                <option value="">Select Status</option>
                                                <option value="P">Pending</option>
                                                <option value="R">Rejected</option>
                                                <option value="A">Approved</option>
                                            </select>
                                        </div>
                                    </div>

                                </div>

                                <div class="d-flex justify-content-end">
                                    <button type="submit" class="btn btn-sm mr-1">Search</button>
                                    <a asp-controller="Attendance" asp-action="AttendanceRequests" class="btn btn-sm mr-1" title="Reset" tabindex="5">
                                        <i class="fas fa-sync-alt">
                                        </i>
                                    </a>
                                    <button type="button" class="btn btn-sm mr-1" onclick="ExportAttendanceReport();">Export</button>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="table-responsive mt-3">
                        <table class="table table-sm no-wrap table-bordered">
                            <thead id="sumit" class="text-center">
                                <tr>
                                    <th>Attendance Date</th>
                                    <th>Yoma ID</th>
                                    <th>Associate Name</th>
                                    <th>Attendance Type</th>
                                    <th>CheckIn</th>
                                    <th>CheckOut</th>
                                    <th>Completed Hours</th>
                                    <th>CheckIn Image</th>
                                    <th>CheckOut Image</th>
                                    <th>View Route Map</th>
                                    <th>Status</th>
                                    <th>Comment</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody class="text-center">
                                @{
                                    var countSuggestion = 0;
                                }
                                @if (Model != null)
                                {
                                    if (Model.attendanceListing != null && Model.attendanceListing.Count() > 0)
                                    {
                                        foreach (var item in Model.attendanceListing)
                                        {
                                            <tr>
                                                <td style="text-align:center">@item.AttendanceDate</td>
                                                <td>@item.UserCode</td>
                                                <th>@item.FullName</th>
                                                <td>@item.AttendanceType</td>
                                                <td>@item.CheckInTime</td>
                                                <td>@item.CheckOutTime</td>
                                                <td>@item.WorkingHours</td>
                                                <td>
                                                    @if (!string.IsNullOrEmpty(item.CheckInImagePath))
                                                    {
                                                        <img class="img" src="@Url.Content(item.CheckInImagePath)" title="CheckIn Image" style="width:60px; height:60px" />
                                                    }
                                                </td>
                                                <td>
                                                    @if (!string.IsNullOrEmpty(item.CheckOutImagePath))
                                                    {
                                                        <img class="img" src="@Url.Content(item.CheckOutImagePath)" title="CheckOut Image" style="width:60px; height:60px" />
                                                    }
                                                </td>
                                                <td>
                                                    <button class="btn btn-sm mr-1" title="View Map" data-toggle="offcanvas" data-target="#myOffcanvas" id="btn_ViewMap_@countSuggestion" onclick="viewMap(@countSuggestion)">View Map</button>
                                                </td>
                                                <td>
                                                    @if (item.ApproveRejectStatus == "Rejected")
                                                    {
                                                        <span class="error-status">Rejected !</span>
                                                    }
                                                    else if (item.ApproveRejectStatus == "Approved")
                                                    {
                                                        <span class="green-status">Approved !</span>
                                                    }
                                                    else
                                                    {
                                                        <span class="pending-status">Pending !</span>
                                                    }
                                                </td>
                                                <td>
                                                    @if (!string.IsNullOrEmpty(item.ApproveRejectComment))
                                                    {
                                                        <i class="fa fa-comment" data-toggle="modal" data-target="#viewComment" onclick="viewComment(@countSuggestion)" id="btn_ViewComment_@countSuggestion"></i>
                                                    }
                                                </td>
                                                <td>
                                                    <div class="d-flex justify-content-center">
                                                        <input type="hidden" value="@item.DailyAttendanceId" name="attendanceListing[@countSuggestion].DailyAttendanceId" />
                                                        <input type="hidden" value="@item.UserId" name="attendanceListing[@countSuggestion].UserId" />
                                                        <input type="hidden" value="@item.AttendanceDate" name="attendanceListing[@countSuggestion].AttendanceDate" />
                                                        <input type="hidden" value="@item.ApproveRejectStatus" name="attendanceListing[@countSuggestion].ApproveRejectStatus" />
                                                        <input type="hidden" value="@item.ApproveRejectComment" name="attendanceListing[@countSuggestion].ApproveRejectComment" />
                                                        @if (item.ApproveRejectStatus == "Rejected" || item.ApproveRejectStatus == "Approved")
                                                        {
                                                            <button class="btn btn-sm mr-1" title="Verify" disabled>Verify</button>
                                                        }
                                                        else
                                                        {
                                                            if (!string.IsNullOrEmpty(item.CheckInTime) && !string.IsNullOrEmpty(item.CheckOutTime))
                                                            {
                                                                <button class="btn btn-sm mr-1" title="Verify" data-toggle="modal" data-target="#viewVerifyAttendance" id="btn_Verify_@countSuggestion" onclick="viewVerifyAttendance(@countSuggestion)">Verify</button>
                                                            }
                                                            else
                                                            {
                                                                <button class="btn btn-sm mr-1" title="Verify" disabled>Verify</button>
                                                            }
                                                        }
                                                    </div>
                                                </td>
                                            </tr>
                                            countSuggestion++;
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td colspan="10" style="text-align:center;">** No Record Found !!</td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="10" style="text-align:center;">** No Record Found !!</td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="footer">
                    <div class="bottom_str">
                        @if (Model != null && Model.CustomPagination != null)
                        {
                            @if (Model.CustomPagination.TotalItems > 10)
                            {
                                <div class="one_str">
                                    <select class="form-control form-control-sm remove-select2" style="width:auto" asp-for="PageSize" onchange="showListForPageSize()">
                                        <option value="/Supervisor/Attendance/AttendanceRequests/?pagesize=100000&SearchUserCode=@ViewBag.SearchUserCode&SearchAttendanceFrom=@ViewBag.SearchAttendanceFrom&SearchAttendanceTo=@ViewBag.SearchAttendanceTo&SearchStatusType=@ViewBag.SearchStatusType&sortOrder=@ViewBag.sortOrderForPagination&sortColumn=@ViewData["sortColumnName"]">ALL</option>
                                        <option value="/Supervisor/Attendance/AttendanceRequests/?pagesize=10&SearchUserCode=@ViewBag.SearchUserCode&SearchAttendanceFrom=@ViewBag.SearchAttendanceFrom&SearchAttendanceTo=@ViewBag.SearchAttendanceTo&SearchStatusType=@ViewBag.SearchStatusType&sortOrder=@ViewBag.sortOrderForPagination&sortColumn=@ViewData["sortColumnName"]">10</option>
                                        <option value="/Supervisor/Attendance/AttendanceRequests/?pagesize=25&SearchUserCode=@ViewBag.SearchUserCode&SearchAttendanceFrom=@ViewBag.SearchAttendanceFrom&SearchAttendanceTo=@ViewBag.SearchAttendanceTo&SearchStatusType=@ViewBag.SearchStatusType&sortOrder=@ViewBag.sortOrderForPagination&sortColumn=@ViewData["sortColumnName"]">25</option>
                                        <option value="/Supervisor/Attendance/AttendanceRequests/?pagesize=50&SearchUserCode=@ViewBag.SearchUserCode&SearchAttendanceFrom=@ViewBag.SearchAttendanceFrom&SearchAttendanceTo=@ViewBag.SearchAttendanceTo&SearchStatusType=@ViewBag.SearchStatusType&sortOrder=@ViewBag.sortOrderForPagination&sortColumn=@ViewData["sortColumnName"]">50</option>
                                        <option value="/Supervisor/Attendance/AttendanceRequests/?pagesize=100&SearchUserCode=@ViewBag.SearchUserCode&SearchAttendanceFrom=@ViewBag.SearchAttendanceFrom&SearchAttendanceTo=@ViewBag.SearchAttendanceTo&SearchStatusType=@ViewBag.SearchStatusType&sortOrder=@ViewBag.sortOrderForPagination&sortColumn=@ViewData["sortColumnName"]">100</option>
                                    </select>
                                </div>
                            }
                            if (Model.CustomPagination.EndPage > 1 && Model.CustomPagination.TotalItems > 1)
                            {
                                <div class="two_str">
                                    <div class="pagination">
                                        <ul class="bottom-Ui">
                                            @if (Model.CustomPagination.CurrentPage > 1)
                                            {
                                                <li>
                                                    <a href="~/Supervisor/Attendance/AttendanceRequests/?SearchUserCode=@ViewBag.SearchUserCode&SearchAttendanceFrom=@ViewBag.SearchAttendanceFrom&SearchAttendanceTo=@ViewBag.SearchAttendanceTo&SearchStatusType=@ViewBag.SearchStatusType&sortOrder=@ViewBag.sortOrderForPagination&sortColumn=@ViewData["sortColumnName"]&pagesize=@ViewBag.PageSize">First</a>
                                                </li>
                                                <li>
                                                    <a href="~/Supervisor/Attendance/AttendanceRequests/?SearchUserCode=@ViewBag.SearchUserCode&SearchAttendanceFrom=@ViewBag.SearchAttendanceFrom&SearchAttendanceTo=@ViewBag.SearchAttendanceTo&SearchStatusType=@ViewBag.SearchStatusType&sortOrder=@ViewBag.sortOrderForPagination&sortColumn=@ViewData["sortColumnName"]&page=@(Model.CustomPagination.CurrentPage - 1)&pagesize=@ViewBag.PageSize">Previous</a>
                                                </li>
                                            }
                                            @for (var Page = Model.CustomPagination.StartPage; Page <= Model.CustomPagination.EndPage; Page++)
                                            {
                                                <li>
                                                    <a class="@(Page == Model.CustomPagination.CurrentPage ? "active" : "")" href="~/Supervisor/Attendance/AttendanceRequests/?SearchUserCode=@ViewBag.SearchUserCode&SearchAttendanceFrom=@ViewBag.SearchAttendanceFrom&SearchAttendanceTo=@ViewBag.SearchAttendanceTo&SearchStatusType=@ViewBag.SearchStatusType&sortOrder=@ViewBag.sortOrderForPagination&sortColumn=@ViewData["sortColumnName"]&page=@Page&pagesize=@ViewBag.PageSize">@Page</a>
                                                </li>
                                            }
                                            @if (Model.CustomPagination.CurrentPage < Model.CustomPagination.TotalPages)
                                            {
                                                <li>
                                                    <a href="~/Supervisor/Attendance/AttendanceRequests/?SearchUserCode=@ViewBag.SearchUserCode&SearchAttendanceFrom=@ViewBag.SearchAttendanceFrom&SearchAttendanceTo=@ViewBag.SearchAttendanceTo&SearchStatusType=@ViewBag.SearchStatusType&sortOrder=@ViewBag.sortOrderForPagination&sortColumn=@ViewData["sortColumnName"]&page=@(Model.CustomPagination.CurrentPage + 1)&pagesize=@ViewBag.PageSize">Next</a>
                                                </li>
                                                <li>
                                                    <a href="~/Supervisor/Attendance/AttendanceRequests/?SearchUserCode=@ViewBag.SearchUserCode&SearchAttendanceFrom=@ViewBag.SearchAttendanceFrom&SearchAttendanceTo=@ViewBag.SearchAttendanceTo&SearchStatusType=@ViewBag.SearchStatusType&sortOrder=@ViewBag.sortOrderForPagination&sortColumn=@ViewData["sortColumnName"]&page=@(Model.CustomPagination.TotalPages)&pagesize=@ViewBag.PageSize">Last</a>
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                            }
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="viewComment" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">View Comment</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="approve-reject">
                    <div class="row">
                        <div class="col-md-12">
                            <textarea id="hdnModelApproveRejectComment" class="form-control" cols="4" rows="5" placeholder="" disabled></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="viewVerifyAttendance" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Attendance Approval</h5>
                <h5 class="modal-cut" data-dismiss="modal" aria-label="Close" aria-hidden="true">✖</h5>
            </div>
            <div class="modal-body">
                <input type="hidden" id="hdnModelAttendanceId" />
                <div class="row">
                    <div class="col-12 col-sm-12 col-xs-12 col-md-12 col-lg-12 col-xl-12">
                        <label class="active"><b>Status</b><sup class="red">*</sup></label>
                        <div class="form-group">
                            <select class="form-control form-control-sm remove-select2" id="ApproveRejectStatus" onchange="ValidateApproveRejectStatus()">
                                <option value="">Select</option>
                                <option value="Approve">Approve</option>
                                <option value="Reject">Reject</option>
                            </select>
                            <span id="ApproveRejectStatus-Error" class="text-danger ApproveRejectStatus-Error"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-12 col-xs-12 col-md-12 col-lg-12 col-xl-12">
                        <label class="active"><b>Write Comment</b><sup class="red">*</sup></label>
                        <div class="form-group">
                            <textarea class="form-control" id="ApproveRejectComment" rows="3" onkeyup="ValidateApproveRejectComment()"></textarea>
                            <span id="ApproveRejectComment-Error" class="text-danger ApproveRejectComment-Error"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer py-2">
                <button class="btn1 btn-sm reject-btn" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-sm btn-primary approval-btn" id="btnApproveRejectAttendance" onclick="ApproveRejectAttendance()">Save</button>
            </div>
        </div>
    </div>
</div>

<div id="divViewMap"></div>

@section Scripts{
    <script>
        $(document).ready(function () {
            toastr.success('Attendance Requests');
            //$('.remove-select2').select2('destroy');

            var selectedText = @ViewBag.PageSize;
            if (selectedText == '100000') {
                selectedText = "All";
            }
            $('#PageSize option').map(function () {
                if ($(this).text() == selectedText) return this;
            }).attr('selected', 'selected');

            $('.startdate').bootstrapMaterialDatePicker({
                weekStart: 0,
                time: false,
                format: 'DD/MM/YYYY',
                clearButton: true
            }).on('change', function (e, date) {
                $('.todate').bootstrapMaterialDatePicker('setMinDate', date);
            });

            $('.todate').bootstrapMaterialDatePicker({
                weekStart: 0,
                time: false,
                format: 'DD/MM/YYYY',
                clearButton: true
            });
        });
        function showListForPageSize() {
            window.location.href = $("#PageSize").val();
        }
    </script>
    <script src="~/js/Areas/Attendance/AttendanceRequests.js" asp-append-version="true"></script>
}