@model YB_StaffingSupervisor.DataAccess.Entities.Custom.OnDutyRequestCustom
@{
    ViewData["Title"] = "On Duty Request";
    Layout = "~/Views/Shared/_ProantoV2MasterLayout.cshtml";
}
<div class="col-md-12">
    <div class="card">
        <div class="card-body">

            <ul class="nav nav-tabs" id="myTab" role="tablist">
                @*   <li class="nav-item">
                <a class="nav-link active" id="teamattendance-tab" data-toggle="tab"
                href="#teamattendance" role="tab" aria-controls="teamattendance"
                aria-selected="false">Team Attendance</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" id="attendanceRequests-tab" data-toggle="tab"
                href="#attendanceRequests" role="tab" aria-controls="attendanceRequests"
                aria-selected="false">Attendance Correction Requests</a>
                </li>*@
                <li class="nav-item">
                    <a class="nav-link" id="od-tab" data-toggle="tab" href="#od" role="tab"
                       aria-controls="od" aria-selected="false">On Duty Requests</a>
                </li>
            </ul>
            @*       <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="teamattendance" role="tabpanel"
            aria-labelledby="teamattendance-tab">

            <div class="d-flex justify-content-between align-items-center mt-3">
            <h4 class="font-weight-medium mb-0">All Associates</h4>
            <button class="btn btn-sm" title="Filter" data-toggle="collapse"
            data-target="#filter">
            <i class="fa fa-filter"
            aria-hidden="true"></i>
            </button>
            </div>

            <div class="collapse mt-3" id="filter">
            <div class="card mb-3">

            <div class="card-header d-flex justify-content-between align-items-center">
            <div class="font-weight-medium">Filters</div>
            <div><i class="fa fa-filter"></i></div>
            </div>
            <div class="card-body">
            <div class="row">

            <div class="col-md-3 col-lg-3 mt-2">
            <div class="form-group">
            <label for="exampleFormControlInput1" class="active">
            <b>
            Yoma
            ID
            </b>
            </label>
            <input type="text"
            class="form-control form-control-sm border-bottom"
            id="exampleFormControlInput1"
            placeholder="Enter Id no.">
            </div>
            </div>

            <div class="col-md-3 col-lg-3 mt-2">
            <div class="form-group">
            <label for="exampleFormControlInput1"
            class="active"><b>Associate Name</b></label>
            <input type="text"
            class="form-control form-control-sm border-bottom"
            id="exampleFormControlInput1"
            placeholder="Enter Associate Name">
            </div>
            </div>

            <div class="col-md-3 col-lg-3 mt-2">
            <div class="form-group">
            <label for="exampleFormControlInput1"
            class="active"><b>Associate Email</b></label>
            <input type="text"
            class="form-control form-control-sm border-bottom"
            id="exampleFormControlInput1"
            placeholder="Enter Associate Email">
            </div>
            </div>

            <div class="col-md-3 col-lg-3 mt-2">
            <div class="form-group">
            <label for="exampleFormControlInput1"
            class="active"><b>Associate Mobile</b></label>
            <input type="text"
            class="form-control form-control-sm border-bottom"
            id="exampleFormControlInput1"
            placeholder="Enter Associate Mobile">
            </div>
            </div>



            <div class="col-md-3 col-lg-3 mt-2">
            <div class="form-group">
            <label for="exampleFormControlInput1"
            class="active"><b>Date</b></label>
            <input type="text"
            class="form-control form-control-sm border-bottom"
            id="mdate" placeholder="dd-mm-yyyy">
            </div>
            </div>



            </div>
            </div>
            <div class="card-footer">
            <div class="d-flex justify-content-end">
            <button class="btn btn-sm mr-1">Close</button>
            <button class="btn btn-sm mr-1">Clear</button>
            <button class="btn btn-sm">Search</button>
            </div>
            </div>


            </div>
            </div>

            <div class="row mb-4 todays-insights align-items-center">
            <div class="col-12 col-sm-12 col-md-12 col-xl-3 col-lg-3">
            <div class="d-flex align-items-center justify-content-center">
            <div class="announcment-icon">
            <i class="fa fa-bullhorn"
            aria-hidden="true"></i>
            </div>
            <div class="todayDate">
            <p class="mb-0 todayDate">Today, 15 June 2023</p>
            <small>
            Today's attendance only. <i class="fa fa-external-link"
            aria-hidden="true"></i>
            </small>
            </div>
            </div>
            </div>

            <div class="col-12 col-sm-12 col-md-12 col-xl-9 col-lg-9 mt-3">
            <div class="row insigths-cards">
            <div class="col-md-4">
            <div class="card total-workforce card-body">
            <div>Total Associates</div>
            <div class="d-flex justify-content-between align-items-center mt-1">
            <div class="total-workforce-count">5000</div>
            <div class="total-workforce-icon">
            <i class="fa fa-users"
            aria-hidden="true"></i>
            </div>
            </div>
            </div>
            </div>

            <div class="col-md-4">
            <div class="card total-present-workforce card-body">
            <div>Total Present</div>
            <div class="d-flex justify-content-between align-items-center mt-1">
            <div class="total-workforce-count">4200</div>
            <div class="total-workforce-icon">
            <i class="fa fa-arrow-circle-down" aria-hidden="true"
            style="transform: rotate(45deg);"></i>
            </div>
            </div>
            </div>
            </div>

            <div class="col-md-4">
            <div class="card total-absent-workforce card-body">
            <div>Total Absent</div>
            <div class="d-flex justify-content-between align-items-center mt-1">
            <div class="total-workforce-count">800</div>
            <div class="total-workforce-icon">
            <i class="fa fa-arrow-circle-down" aria-hidden="true"
            style="transform: rotate(-45deg);"></i>
            </div>
            </div>
            </div>
            </div>


            </div>
            </div>
            </div>

            <ul class="nav nav-tabs mb-3" id="myTab2" role="tablist">
            <li class="nav-item">
            <a class="nav-link active" id="quickttendance-tab" data-toggle="tab"
            href="#quickattendance" role="tab" aria-controls="quickattendance"
            aria-selected="false">Quick Attendance</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" id="selfiettendance-tab" data-toggle="tab"
            href="#selfieattendance" role="tab" aria-controls="selfieattendance"
            aria-selected="false">Selfie based Attendance</a>
            </li>
            </ul>

            <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="quickattendance" role="tabpanel"
            aria-labelledby="quickattendance-tab">
            <div class="table-responsive">
            <table class="table table-sm no-wrap font-12 v-middle">
            <thead id="sumit" class="text-center">
            <tr>
            <th scope="col">
            <div>Yoma Id</div>
            </th>

            <th scope="col">
            <div>Associate Name</div>
            </th>



            <th scope="col">
            <div>Email</div>
            </th>

            <th scope="col">
            <div>Mobile No.</div>
            </th>

            <th scope="col">
            <div>Check-In</div>
            </th>

            <th scope="col">
            <div>Check-Out</div>
            </th>

            <th scope="col">
            <div>Working Hours</div>
            </th>

            <th scope="col">
            <div>Arrival</div>
            </th>


            <th scope="col">
            <div>View Attendance Log</div>
            </th>
            </tr>
            </thead>
            <tbody class="text-center" class="text-center">
            <tr>
            <td>YM4589689</td>
            <td class="text-dark">
            <span class="mb-0 ms-2">Akshay Aggarwal</span>
            </td>
            <td>akshay.90@gmail.com</td>
            <td>+91 9856231476</td>

            <td>09:45 AM</td>
            <td>07:12 PM</td>
            <td>
            8 hours <br><span class="extra-working-time text-success fs-12">
            +2:00 hrs
            extra
            </span>
            </td>
            <td><span class="green-status font-12">On-Time</span></td>
            <td>
            <a href="./attendance-report-log.html" class="btn btn-sm"
            role="button">
            View Log
            </a>
            </td>
            </tr>

            <tr>
            <td>YM4589689</td>
            <td class="text-dark">
            <span class="mb-0 ms-2">Ramesh Singh</span>
            </td>
            <td>singh.90@gmail.com</td>
            <td>+91 9856231476</td>

            <td>09:45 AM</td>
            <td>07:12 PM</td>
            <td>
            8 hours <br><span class="extra-working-time text-success fs-12">
            +2:00 hrs
            extra
            </span>
            </td>
            <td><span class="green-status font-12">On-Time</span></td>
            <td>
            <a href="./attendance-report-log.html" class="btn btn-sm"
            role="button">
            View Log
            </a>
            </td>
            </tr>



            </tbody>
            </table>
            </div>

            </div>

            <div class="tab-pane fade" id="selfieattendance" role="tabpanel"
            aria-labelledby="selfieattendance-tab">
            <div class="table-responsive">
            <table class="table participant-table table-sm no-wrap font-12 v-middle">
            <thead id="sumit" class="text-center">
            <tr>

            <th>Yoma Id</th>
            <th scope="col">
            <div>Associate Name</div>
            </th>



            <th scope="col">
            <div>Email</div>
            </th>

            <th scope="col">
            <div>Mobile No.</div>
            </th>

            <th scope="col">
            <div> In (image)</div>
            </th>

            <th scope="col">
            <div>Out (image)</div>
            </th>

            <th>
            In(LAT/LONG)
            </th>

            <th>
            Out(LAT/LONG)
            </th>


            <th scope="col">
            <div>Check-In</div>
            </th>

            <th scope="col">
            <div>Check-Out</div>
            </th>

            <th scope="col">
            <div>Working Hours</div>
            </th>

            <th scope="col">
            <div>Arrival</div>
            </th>


            <th scope="col">
            <div>View Attendance Log</div>
            </th>
            </tr>
            </thead>
            <tbody class="text-center" class="text-center">
            <tr>
            <td>YM004589689</td>
            <td class="text-dark">
            <span class="mb-0 ms-2">Akshay Aggarwal</span>
            </td>
            <td>akshay.90@gmail.com</td>
            <td>+91 9856231476</td>
            <td class="">
            <div style="width:60px; height:60px">
            <img class="img-fluid"
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSCjECcSdecnMTM7RkIK8MCyLjitm8TLzRFKV4h8IOgYhMBWpY2HnBL0TnAZ2PEjMGS_YM&usqp=CAU"
            alt=""><br>
            </div>

            </td>
            <td>
            <div style="width:60px; height:60px">
            <img class="img-fluid"
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSCjECcSdecnMTM7RkIK8MCyLjitm8TLzRFKV4h8IOgYhMBWpY2HnBL0TnAZ2PEjMGS_YM&usqp=CAU"
            alt="">
            </div>
            </td>
            <td>(40.7128, -74.0060)</td>
            <td>(40.7128, -74.0060)</td>

            <td>09:45 AM</td>
            <td>07:12 PM</td>
            <td>
            8 hours <br><span class="extra-working-time text-success fs-12">
            +2:00 hrs
            extra
            </span>
            </td>
            <td><span class="green-status font-12">On-Time</span></td>
            <td>
            <a href="./attendance-report-log.html" class="btn btn-sm"
            role="button">
            View Log
            </a>
            </td>
            </tr>

            <tr>
            <td>YM4589689</td>
            <td class="text-dark">
            <span class="mb-0 ms-2">Ramesh Singh</span>
            </td>
            <td>singh.90@gmail.com</td>
            <td>+91 9856231476</td>
            <td class="">
            <div style="width:60px; height:60px">
            <img class="img-fluid"
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSCjECcSdecnMTM7RkIK8MCyLjitm8TLzRFKV4h8IOgYhMBWpY2HnBL0TnAZ2PEjMGS_YM&usqp=CAU"
            alt="">
            </div>
            </td>
            <td>
            <div style="width:60px; height:60px">
            <img class="img-fluid"
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSCjECcSdecnMTM7RkIK8MCyLjitm8TLzRFKV4h8IOgYhMBWpY2HnBL0TnAZ2PEjMGS_YM&usqp=CAU"
            alt="">
            </div>
            </td>
            <td>(40.7128, -74.0060)</td>
            <td>(40.7128, -74.0060)</td>
            <td>09:45 AM</td>
            <td>07:12 PM</td>
            <td>
            8 hours <br><span class="extra-working-time text-success fs-12">
            +2:00 hrs
            extra
            </span>
            </td>
            <td><span class="pending-status font-12">Late</span></td>
            <td>
            <a href="./attendance-report-log.html" class="btn btn-sm"
            role="button">
            View Log
            </a>
            </td>
            </tr>



            </tbody>
            </table>
            </div>
            </div>
            </div>




            <!-- <h4 class="mt-3 font-weight-medium">GeoLocation Attendance</h4>

            <div class="table-responsive">
            <table class="table participant-table table-sm no-wrap font-12 v-middle">
            <thead id="sumit" class="text-center">
            <tr>

            <th>Yoma Id</th>
            <th scope="col">
            <div>Associate Name</div>
            </th>



            <th scope="col">
            <div>Email</div>
            </th>

            <th scope="col">
            <div>Mobile No.</div>
            </th>

            <th scope="col">
            <div> In (Map)</div>
            </th>

            <th scope="col">
            <div>Out (Map)</div>
            </th>

            <th scope="col">
            <div>Check-In</div>
            </th>

            <th scope="col">
            <div>Check-Out</div>
            </th>

            <th scope="col">
            <div>Working Hours</div>
            </th>

            <th scope="col">
            <div>Arrival</div>
            </th>


            <th scope="col">
            <div>View Attendance Log</div>
            </th>
            </tr>
            </thead>
            <tbody class="text-center" class="text-center">
            <tr>
            <td>YM4589689</td>
            <td class="text-dark">
            <span class="mb-0 ms-2">Akshay Aggarwal</span>
            </td>
            <td>akshay.90@gmail.com</td>
            <td>+91 9856231476</td>
            <td><a href="https://www.google.com/maps/d/u/0/viewer?mid=1B1lAsUpYFg82Je7XN1_cxRPf1UU&amp;hl=en_US"
            target="_blank"><i class="fa fa-location-arrow"></i> map</a>
            </td>
            <td><a href="https://www.google.com/maps/d/u/0/viewer?mid=1B1lAsUpYFg82Je7XN1_cxRPf1UU&amp;hl=en_US"
            target="_blank"><i class="fa fa-location-arrow"></i> map</a>
            </td>
            <td>09:45 AM</td>
            <td>07:12 PM</td>
            <td>8 hours <br><span
            class="extra-working-time text-success fs-12">+2:00 hrs
            extra</span></td>
            <td><span class="green-status font-12">On-Time</span></td>
            <td>
            <a href="./attendance-report-log.html" class="btn btn-sm"
            role="button">
            View Log
            </a>
            </td>
            </tr>

            <tr>
            <td>YM4589689</td>
            <td class="text-dark">
            <span class="mb-0 ms-2">Ramesh Singh</span>
            </td>
            <td>singh.90@gmail.com</td>
            <td>+91 9856231476</td>
            <td><a href="https://www.google.com/maps/d/u/0/viewer?mid=1B1lAsUpYFg82Je7XN1_cxRPf1UU&amp;hl=en_US"
            target="_blank"><i class="fa fa-location-arrow"></i> map</a>
            </td>
            <td><a href="https://www.google.com/maps/d/u/0/viewer?mid=1B1lAsUpYFg82Je7XN1_cxRPf1UU&amp;hl=en_US"
            target="_blank"><i class="fa fa-location-arrow"></i> map</a>
            </td>
            <td>09:45 AM</td>
            <td>07:12 PM</td>
            <td>8 hours <br><span
            class="extra-working-time text-success fs-12">+2:00 hrs
            extra</span></td>
            <td><span class="green-status font-12">On-Time</span></td>
            <td>
            <a href="./attendance-report-log.html" class="btn btn-sm"
            role="button">
            View Log
            </a>
            </td>
            </tr>



            </tbody>
            </table>
            </div> -->

            </div>

            <div class="tab-pane fade" id="attendanceRequests" role="tabpanel"
            aria-labelledby="attendanceRequests-tab">

            <div class="table-responsive mt-3">
            <table class="table table-sm no-wrap">
            <thead id="sumit" class="text-center">
            <tr>
            <th>Requested On</th>
            <th>Yoma Id</th>
            <th>Associate Name</th>
            <th>Request type</th>
            <th>Attendance Date</th>
            <th>Remarks</th>
            <th>Status</th>
            <th>Approved by</th>
            <th>Comment</th>
            <th>Action</th>
            </tr>
            </thead>
            @* <tbody class="text-center" class="text-center">
            @if (Model != null)
            {
            if (Model.OnDutyList != null && Model.OnDutyList.Count() > 0)
            {
            foreach (var item in Model.OnDutyList)
            {
            <tr>
            <td>@item.Date</td>
            <td> @item.YomaId</td>
            <td> @item.Username</td>
            <td>@item.RequestType</td>
            <td>@item.RequestedOn</td>
            <td>@item.Remark</td>
            <td>@item.Status</td>
            <td>@item.ApprovedBy</td>
            <td>@item.Comment</td>
            <td>
            <button class="btn btn-sm" data-toggle="modal"
            data-target="#verifyModal">
            Verify
            </button>
            </td>
            </tr>
            }
            }
            else
            {
            <tr>
            <td colspan="25" style="text-align:center;">** No Record Found **</td>
            </tr>
            }

            }
            else
            {
            <tr><td colspan="25" style="text-align:center;">** No Record Found **</td></tr>
            }

            </tbody>*@
            </table>
        </div>

    </div>
    <div class="tab-pane fade" id="od" role="tabpanel" aria-labelledby="od-tab">
        <div class="table-responsive mt-3">
            <table class="table table-sm no-wrap">
                <thead id="sumit" class="text-center">
                    <tr>
                        <th>Date</th>
                        <th>Yoma Id</th>
                        <th>Associate Name</th>
                        <th>Request type</th>
                        <th>Requested on</th>
                        <th>Remarks</th>
                        <th>Status</th>
                        <th>Approved by</th>
                        <th>Comment</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody class="text-center" class="text-center">
                    @if (Model != null)
                    {
                        if (Model.OnDutyList != null && Model.OnDutyList.Count() > 0)
                        {
                            foreach (var item in Model.OnDutyList)
                            {
                                <tr>
                                    <td>@item.Date</td>
                                    <td> @item.YomaId</td>
                                    <td> @item.Username</td>
                                    <td>@item.RequestType</td>
                                    <td>@item.RequestedOn</td>
                                    <td>@item.Remark</td>
                                    <td>@item.Status</td>
                                    <td>@item.ApprovedBy</td>
                                    <td>
                                        <i class="fa fa-comment" data-toggle="modal"
                                           data-target="#commentModal" onclick="bindCommentModel('@item.Comment');"></i>
                                    </td>
                                    <td>
                                        @if (item.Status == "Pending")
                                        {
                                            <button class="btn btn-sm" data-toggle="modal" onclick="save('@item.DailyAttendanceOnDutyRequestId')"
                                                    data-target="#verifyModal">
                                                Verify
                                            </button>
                                        }

                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="25" style="text-align:center;">** No Record Found **</td>
                            </tr>
                        }

                    }
                    else
                    {
                        <tr><td colspan="25" style="text-align:center;">** No Record Found **</td></tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>



        </div>
    </div>
</div>

@*Verify Model*@

<div class="modal fade" id="verifyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Attendance Approval</h5>
                <h5 class="modal-cut" data-dismiss="modal" aria-label="Close" aria-hidden="true">✖</h5>
            </div>

            <div class="modal-body">

                <form asp-action="OnDutyRequest" method="post">
                    <input type="hidden" asp-for="DailyAttendanceOnDutyRequestId" id="hdnDAOR" />
                    <div class="row">
                        <div class="form col-12 col-sm-12 col-xs-12 col-md-12 col-lg-12 col-xl-12">
                            <label class="active"><b>Status</b><sup class="red">*</sup></label>
                            <div class="form-group">
                                <select asp-for="Status" class="form-control form-control-sm" onchange="bindComment();" id="selectStatus">
                                    <option>Select</option>
                                    <option value="1">Approve</option>
                                    <option value="0">Reject</option>
                                </select>
                            </div>
                        </div>


                    </div>

                    <div class="form-group">
                        <div class="nomandate" style="display: none;">
                            <label for="exampleFormControlTextarea1">
                                <b>
                                    Write Comment <sup class="red">*</sup>
                                </b>
                            </label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div>

                        <div class="mandate" style="display: none;">
                            <label for="exampleFormControlTextarea1"><b>Write Comment</b></label>
                            <textarea asp-for="Comment" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer py-2">
                        <button class="btn1 btn-sm reject-btn" data-dismiss="modal">Cancel</button>
                        <button type="submit" id="save" class="btn btn-sm btn-primary approval-btn">Save</button>
                    </div>
                </form>
            </div>



        </div>
    </div>
</div>


@*Comment*@
<div class="modal fade" id="commentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">View Comment</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="approve-reject">
                    <div class="row">
                        <div class="col-md-12">
                            <textarea class="form-control" cols="4" rows="5" placeholder="Write Remarks"
                                      disabled="" id="commentArea"> </textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    //verify modal

    function bindComment() {
        debugger;
        let statusValue = $('#selectStatus').val();
        if (statusValue === '1') {
            $('.nomandate').hide();
            $('.mandate').show();
        } else if (statusValue === '0') {
            $('.nomandate').hide();
            $('.mandate').show();
        } else {
            $('.nomandate').hide();
            $('.mandate').hide();
        }
    };
    function bindCommentModel(comment) {
        $('#commentArea').val(comment);
    }


    function save(id) {
        $('#hdnDAOR').val(id);
    }
</script>