@model YB_StaffingSupervisor.DataAccess.Entities.Custom.LeaveApprovalsCustom
@{
    ViewData["Title"] = "Leave Requests";
    Layout = "~/Views/Shared/_ProantoV2MasterLayout.cshtml";
}

<div class="col-md-12">
	<div class="card">
		<div class="card-body">

			<ul class="nav nav-tabs" id="myTab" role="tablist">
				<li class="nav-item">
					<a class="nav-link active" id="teamattendance-tab" data-toggle="tab"
					   href="#teamattendance" role="tab" aria-controls="teamattendance"
					   aria-selected="false">Leave Approvals</a>
				</li>
			</ul>
			<div class="tab-content" id="myTabContent">
				<div class="tab-pane fade show active" id="teamattendance" role="tabpanel"
					 aria-labelledby="teamattendance-tab">

					<div class="d-flex justify-content-end align-items-center mt-3">

						<button class="btn btn-sm" title="Filter" data-toggle="collapse"
								data-target="#filter">
							<i class="fa fa-filter"
							   aria-hidden="true"></i>
						</button>
					</div>

					<div class="collapse mt-3" id="filter">
						<form asp-controller="Leave" asp-action="LeaveRequests" method="get">
							<div class="card mb-3">

								<div class="card-header d-flex justify-content-between align-items-center">
									<div class="font-weight-medium">Filters</div>
									<div><i class="fa fa-filter"></i></div>
								</div>
								<div class="card-body">
									<div class="row">

										<div class="col-md-3 col-lg-3 mt-2">
											<div class="form-group">
												<label for="exampleFormControlInput1" class="active"><b>Yoma ID</b></label>
												<input type="text" id="yomaid" asp-for="SearchUserCode" class="form-control form-control-sm border-bottom" id="exampleFormControlInput1" placeholder="Enter Id no.">
											</div>
										</div>

										<div class="col-md-3 col-lg-3 mt-2">
											<div class="form-group">
												<label for="exampleFormControlInput1" class="active"><b>Associate Name</b></label>
												<input type="text" id="name" asp-for="SearchAssociateName" class="form-control form-control-sm border-bottom" id="exampleFormControlInput1" placeholder="Enter Id no.">
											</div>
										</div>

										<div class="col-md-3 col-lg-3 mt-2">
											<div class="form-group">
												<label for="exampleFormControlInput1" class="active"><b>Date</b></label>
												<input type="text" asp-for="SearchAppliedDate" class="form-control form-control-sm border-bottom" id="exampleFormControlInput1" placeholder="Enter Id no.">
											</div>
										</div>



									</div>
								</div>
								<div class="card-footer">
									<div class="d-flex justify-content-end">
										<button type="button" class="btn btn-sm mr-1" onclick="return ExportLeaveApprovalRejectReport()">Export</button>

										<button type="button" class="btn btn-sm mr-1" onclick="ClearButton()">Clear</button>
										<button class="btn btn-sm" type="submit">Search</button>
									</div>
								</div>


							</div>
						</form>
					</div>

					<div class="table-resposive mt-3">
						<table class="table-sm table table-bordered no-wrap">
							<thead id="sumit">

							<th>Yoma Id</th>
							<th>Associate Name</th>
							<th>Start Date</th>
							<th>End Date</th>
							<th>Type</th>
							<th>Days</th>
							<th>Applied On</th>
							<th>Status</th>
							<th>Approved by</th>
							<th>Comment</th>
							<th>Action</th>
							</tr>
							</thead>
							<tbody class="text-center" class="text-center">
								@if (Model != null)
								{
									if (Model.LeaveApprovalListing != null && Model.LeaveApprovalListing.Count() > 0)
									{
										foreach (var item in Model.LeaveApprovalListing)
										{
											<tr>
												<td>@item.UserCode</td>
												<td>@item.AssociateName</td>
												<td>@item.StartDate</td>
												<td>@item.EndDate</td>
												<td>@item.LeaveType</td>
												<td>@item.LeaveDays</td>
												<td>@item.AppliedDate</td>
												<td>@item.Status</td>
												<td>@item.Approvedby</td>
												<td>
													<i class="fa fa-comment" data-toggle="modal"
													   data-target="#commentModal" onclick="bindCommentModel('@item.Comment');"></i>
												</td>
												@if (item.Status == "Pending")
												{
													<td>
														<button class="btn btn-sm" data-toggle="modal" onclick="BindLeaveId('@item.LeaveRequestId')"
																data-target="#verifyModal">
															Approved/Reject
														</button>
													</td>
												}
											</tr>
										}
									}
									else
									{
										<tr>
											<td colspan="25" style="text-align:center;">** No Record Found **</td>
										</tr>
									}

								}
								else
								{
									<tr><td colspan="25" style="text-align:center;">** No Record Found **</td></tr>
								}

							</tbody>

						</table>
					</div>


				</div>

			</div>



		</div>
	</div>
</div>


<!---verify ar modal--->

<div class="modal fade" id="verifyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
	 aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-md" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalCenterTitle">Leave Approval</h5>
				<h5 class="modal-cut" data-dismiss="modal" aria-label="Close" aria-hidden="true">✖</h5>
			</div>
			<div class="modal-body">
				<form asp-action="ApproveRejectLeave" method="post">
					<input type="hidden" asp-for="LeaveRequestId" id="hdnLeaveRequestId" />
					<div class="row">
						<div class="form col-12 col-sm-12 col-xs-12 col-md-12 col-lg-12 col-xl-12">
							<label class="active"><b>Status</b><sup class="red">*</sup></label>
							<div class="form-group">
								<select asp-for="Status" class="form-control form-control-sm" id="selectStatus" onchange="approveReject()">
									<option>Select</option>
									<option value="1">Approve</option>
									<option value="0">Reject</option>
								</select>
							</div>
						</div>


					</div>
					<div class="form-group">
						<div class="nomandate" style="display: none;">
							<label for="exampleFormControlTextarea1">
								<b>
									Write Comment <sup class="red">*</sup>
								</b>
							</label>
							@* <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea> *@
						</div>

						<div class="mandate" style="display: none;">
							<label for="exampleFormControlTextarea1"><b>Write Comment</b></label>
							<textarea class="form-control" asp-for="Comment" id="exampleFormControlTextarea1" rows="3"></textarea>
						</div>
						<div class="modal-footer py-2">
							<button class="btn1 btn-sm reject-btn" data-dismiss="modal">Cancel</button>
							<button type="submit" class="btn btn-sm btn-primary approval-btn">Save</button>
						</div>
					</div>
				</form>
			</div>

		</div>
	</div>
</div>


<div class="modal fade" id="commentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
	 aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content rounded overflow-hidden">
			<div class="modal-header py-2">
				<h5 class="modal-title" id="exampleModalLongTitle">Comments</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
				<div class="modal-body">
					<div class="approve-reject">
						<div class="row">
							<div class="col-md-12">
								<textarea class="form-control" cols="4" rows="5" placeholder="Write Remarks"
										  disabled="" id="commentArea"> </textarea>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
<script>
	function BindLeaveId(id) {
		$('#hdnLeaveRequestId').val(id);
	}
	//verify modal
	function approveReject() {
		let statusValue = $('#selectStatus').val();
		if (statusValue === '1') {
			$('.nomandate').hide();
			$('.mandate').show();
		}
		else if (statusValue === '0') {
			$('.nomandate').hide();
			$('.mandate').show();
		}

		else {
			$('.nomandate').hide();
			$('.mandate').hide();
		}
	}

	function bindCommentModel(comment) {
		$('#commentArea').val(comment);
	}
</script>



@section Scripts{
@*     <script>
        $(document).ready(function () {

            toastr.success('Leave Requests');

        });

    </script> *@
    <script src="~/js/Areas/Leave/LeaveRequests.js" asp-append-version="true"></script>
}