@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor Accessor

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var returnUrl = @Context.Request.Query["returnurl"];
}
@model YB_StaffingSupervisor.Models.LoginUser


<style>
    .capcha-text{
        background: #2c62a2;
        color: white;
        padding: 1px 13px;
            user-select: none;
             border-radius: 14px;
    }

    #CaptchaText{
        width: 53px;
        background: transparent;
        border: none;
        color: white;
       
    }

    [name="Captcha"]{
        border-radius: 20px;
        border: none;
        padding: 5px;
        background: #e8f0fe;
    }

    .capcha-reload{
        color: #3264a0;
        cursor: pointer;
 
    }



    .capcha-value:focus-visible {
        outline: none;
    }
</style>



<div id="body">

    <!--nav-->

    <div class="custom-nav d-flex justify-content-between align-items-center py-0 px-4">
        <div><a class="brand" href="#"><img src="~/Default/img/logo.png"></a></div>
        <div class="ms-auto"> <a href="https://www.yomabusinesssolutions.com/" target="_blank" class="btn btn-sm btn-light go-to-button"> Go to Website <i class="fa-solid fa-arrow-right-long"></i></a></div>
    </div>


    <section>

        <div class="row m-0">
            <div class="col-md-5 m-0 mobile-display-none">
                <!-- <div class="slider">
                    <div class="slider-img">
                        <div><img src="img/slide-3.png" alt=""></div>
                        <div><img src="img/slide-2.png" alt=""></div>
                        <div><img src="img/slide-1.png" alt=""></div>
                    </div>
                </div> -->
                <div class="banner-img"><img src="~/Default/img/recruiter.png" alt=""></div>
            </div>
            <div class=" col-sm-12 col-md-7 d-flex align-items-center justify-content-center">
                <div class="shape">
                    <div class="card  p-3 m-0">
                        <p class="font-20 fw-bold title  mb-1">YOMA Business Solutions</p>
                        <small class="mt-1 mb-3 text-uppercase  ">
                            A BYLD GROUP COMPANY
                        </small>
                        <form asp-action="Index" asp-controller="Home" method="post" asp-route-returnurl="@returnUrl">
                            @Html.AntiForgeryToken()
                            <div class="user_info ps-2 pe-3 pb-2 w-100">
                                <div class="mb-2">
                                    <label class="mb-2">Username</label>
                                    <input type="text" placeholder="Enter Username" asp-for="UserName" class="username-box form-control p-0 ps-3 rounded-pill border-0">
                                </div>

                                <div class="password">
                                    <label class="mb-2">Password</label>
                                    <input type="password" placeholder="Enter Password" asp-for="Password" class="password-box form-control p-0 ps-3 rounded-pill border-0">
                                </div>

                                <div class="text-center">


                                    <div class="capcha-holder position-relative" id="login-window">



                                        <div class="d-flex align-items-center my-3 justify-content-around">
                                            <div class="capcha-text">
                                              @*  <input asp-for="CaptchaText" id="CaptchaText" />*@
                                                <div id="CaptchaText"></div>
                                            </div>
                                            <div><input type="text" asp-for="Captcha" id="Captcha" maxlength="6" placeholder="Enter Captcha Here" class="capcha-value mb-0"></div>
                                            <div class="capcha-reload" onclick="resetCaptcha()" title="Refresh Captcha">
                                                <i class="fa fa-repeat" aria-hidden="true"></i>
                                            </div>
                                        </div>

                                        <div class="d-flex justify-content-end">
                                            <button type="submit" id="sign" class="btn border-0 btn-primary">Login <i class="fa-solid fa-arrow-right-long"></i></button>
                                        </div>
                                    </div>
                                </div>

                                
                                <div id="attempt-timer-window">
                                    <div class="mt-0 warn-container container-fluid w-100">
                                        <p class="mb-1 d-flex justify-content-center align-items-center">
                                            <i class="fas triangle fa-exclamation-triangle me-2"></i>
                                            <small>Too many Incorrect Login Attempts. Please wait for 60 seconds.</small>
                                        </p>
                                    </div>

                                    <div class="time-left text-center mt-3 d-flex justify-content-center align-items-center">
                                        <i class="fa fa-stopwatch me-2 "></i>
                                        <h6 class="mb-0" id="countdown">60 seconds</h6>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>


                </div>
            </div>
        </div>


    </section>

</div>
<!---floating website-->


@section Scripts{
    <style>
        .toast-bottom-center {
            top: 50px;
            bottom: 12px;
            margin: 0 auto;
            left: 50%;
            margin-left: -150px;
            color: red;
        }

        .toast-warning {
            background-color: #f89406;
        }

        .warn-container {
            margin-top:20px !important;
            background-color: #FFD8D8;
            border-radius: 10px;
            padding: 5px 10px 10px 10px;
        }

            .warn-container small {
                color: #d42323da !important;
            }

        .triangle {
            color: #D42323 !important;
            margin-top: 4px;
            font-size: 15px;
        }

        .time-left h6 {
            color: #1c426d;
        }

        .form-check {
            display: flex;
            align-items: center;
        }
    </style>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#Captcha').html("");
            $('#attempt-timer-window').css("display", "none");
            var msg = '@TempData["Message"]';
            var loginattempt = '@TempData["LoginLimitExceeded"]';
            
            
            //captchaCode.innerHTML(`${captcha}`);
            if (loginattempt != '') {
                //alert(loginattempt);
                $('#attempt-timer-window').css("display", "block");
                $('#login-window').css("display", "none");
                setInterval(updateCountdown, 1000);
            }
            if (msg != '') {
                toastr.options.timeOut = 1500;
                //toastr.options = {
                //    positionClass: 'toast-bottom-center'
                //};
                toastr.warning(msg);
            }
            resetCaptcha();
        });
        $('#UserName').change(function () {
            var UserName = $('#UserName').val();
            if (UserName.trim() != "") {
                $('#UserName_error').text('');
            }
            else {
                $('#UserName_error').text('** Please enter username.');
            }
        });
        $('#Password').change(function () {
            var Password = $('#Password').val();
            if (Password.trim() != "") {
                $('#Password_error').text('');
            }
            else {
                $('#Password_error').text('** Please enter password.');
            }
        });
        const startingMinutes = 1;
        let time = startingMinutes * 59;
        const countdownEl = document.getElementById('countdown');


        function updateCountdown() {
            const minutes = Math.floor(time / 60);
            let seconds = time % 60;
            countdownEl.innerHTML = `${seconds} seconds`;
            if (seconds > 0) {
                time--;
            }
            else if (seconds == 0) {
                $('#attempt-timer-window').css("display", "none");
                $('#login-window').css("display", "block");
                reset();
            }
        }
        function reset() {
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: "/Home/ResetCountVariable",
                data: null,
                dataType: "json",
                success: function (response) {
                }, error: function (_xhr) {
                    if (_xhr.status == 403) {
                        var url = $.parseJSON(_xhr.responseText);
                        window.location.href = url;
                    }
                }
            });
        }
        //var captcha = "<%=Session("Captcha").ToString();%>";
        //const captchaCode = document.getElementById('CaptchaCode');
        //captchaCode.innerHTML = `${captcha}`;
        function resetCaptcha() {
            
            $.ajax({
               
                type: "GET",
                contentType: "application/json; charset=utf-8",
                url: "/Home/ResetCaptcha",
                dataType: "json",
                success: function (response) {

                    //$("#CaptchaText").val(response);
                    $("#CaptchaText").text(response);
                }

               
                // , error: function (_xhr) {
                //    if (_xhr.status == 403) {
                //        var url = $.parseJSON(_xhr.responseText);
                //        window.location.href = url;
                //    }
                //}
            });
        }
    </script>
}